/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Little";
  src: asset-url("Little.ttf");
}
.little_font{
  font-family: Little;
}

@font-face {
  font-family: "Halo";
  src: asset-url("Halo.otf");
}
.halo{
  font-family: Halo;
}

@font-face {
  font-family: "Cocomat";
  src: asset-url("Cocomat.ttf");
}

.cocomat{
  font-family: Cocomat;
}

@font-face {
  font-family: "Hacked";
  src: asset-url("HACKED.ttf");
}

.hacked{
  font-family: Hacked;
}

@font-face {
  font-family: "Rounded";
  src: asset-url("Rounded.ttf");
}

.rounded{
  font-family: Rounded !important;
}

.background{
  background-color: #ddffe2;
}

.courses{
  font-size: 4em !important;
}

.courses_menu{
  font-size: 3em !important;
}

.menu_title_xs{
  font-size: 1.5em;
}

.full_width{
  width: 100% !important;
}

.lessons{
  background-color: cornsilk;
}

.text{
  font-size: 1.5em;
  font-family: 'Cocomat';
  font-weight: 700;
}

.no_link,.no_link:hover, .no_link:active{
  color: black !important;
  text-decoration: none !important;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.intro{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('intro_dark.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.intro:hover{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('intro.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}

.hex{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('hex_dark.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.hex:hover{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('hex.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}

.rails{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('rails_dark.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.rails:hover{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('rails.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}

.design{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('design_dark.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.design:hover{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('design.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}

.make_money{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('make_money_dark.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.make_money:hover{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('make_money.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}

.intro_xs{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('intro.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.hex_xs{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('hex.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}

.rails_xs{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('rails.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}



.design_xs{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('design.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}


.make_money_xs{
  height: 100%;
  padding-top: 100%;
  border: 1px solid white;
  border-radius: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: image_url('make_money.png');
  background-repeat: no-repeat;
  background-size:   100% 100%;
}



#preload_01 { background: image_url('intro.png') no-repeat -9999px -9999px; }
#preload_02 { background: image_url('hex.png') no-repeat -9999px -9999px; }
#preload_03 { background: image_url('rails.png') no-repeat -9999px -9999px; }
#preload_04 { background: image_url('design.png') no-repeat -9999px -9999px; }
#preload_05 { background: image_url('make_money.png') no-repeat -9999px -9999px; }



.courses_menu_xs{
  font-size: 3em !important;
}

.inline{
  display: inline-block;
}

.bold{
  font-weight: 700;
}

.padding{
  padding: 25px;
}

.padding2{
  padding: 25px 30px 0 10px;
}

.no_padding{
  padding: 0 !important;
}

.padding_top{
  padding-top: 20px !important;
}

.margin_top{
  margin-top: 15px !important;
}

.no_margin{
  margin: 0 !important;
}

.full_width{
  width: 100%;
}

.feature_image{
  background-image: image_url('code.png');
}

.blog_title_xs{
  font-size: 26px;
  text-align: center;
}

.menu_icon{
  width: 26px;
}

.icon_img{
  width: 120px;
}

.icon_img2{
  width: 100px;
}

.title{
  font-size: 3em;
  font-weight: 700;
}

.title2{
  font-size: 2em;
  font-weight: 700;
}

.white{
  color: white;
}

.black{
  color: black;
}

.menu_hidden{
  display: none;
  background-color: #e8e6e1;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  z-index: 10;
}

.courses_background{
  background-color: cornsilk;
}

.space {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
}

.space-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px;
}

.space-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px;
}

.space-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px;
}

.space-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px;
}

.space-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px;
}

.space-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px;
}

.space-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px;
}

.space-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px;
}

.space-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px;
}

.space-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px;
}

.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px;
}

.space-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px;
}

.space-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px;
}

.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px;
}

.space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}

.space-2 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 2px 0 1px;
}